*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


img{
    max-width: 100%;
    border-radius: 4%;
}

body{
    background-color: lightgray;
    margin: 0;

}

.outer{
    background-color: #F2F2F2;
    width: 320px;
    height: 497px;
    padding: 1rem;
    border-radius: 4%;
    margin: 15rem auto;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

p {
    margin: 1rem;
    font-weight: 400;
    font-size: 15px;
}

.outer > p:first-of-type {
    font-weight: 700;
    font-size: 22px;
}
