*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


img{
    max-width: 100%;
    border-radius: 4%;
}

body{
    background-color: hsl(212, 45%, 89%);;
    margin: 0;

}

.outer{
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    height: 497px;
    padding: 1rem;
    border-radius: 4%;
    margin: 10rem auto;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

p {
    margin: 1rem;
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

.outer > p:first-of-type {
    font-weight: 700;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
}
